<style>

#doubleDigits{
  text-decoration: underline;
  font-size: 40px;
  font-family: Impact;
}

#intro{
  position: absolute;
  left: 630px;
  top: 90px;

}
#DNAgif{
  background-image: url(81.gif);
  background-size: cover;
  left: 650px;
  top: 450px;
  width: 100px;
  height: 120px;
  position: absolute;

}
#bodytitel{
    position: absolute;
    left: 650px;

}


#specials{
  position: absolute;
  left: 630px;
  top: 420px;

}

#scoreTrivia{
    position: absolute;
    left: 930px;
    top: 152px;

}

#virus{
    left: 100px;
    top: 61px;
    position: absolute;
    font-size: 50px;
    width: 40px;
    height: 60px;
	}

#controldiv{

}


#controldiv > button {

    position: absolute;
    font-size: 20px;
    width: 100px;
    height: 100px;
}

#but1 {
    left : 200px;
}

#but2 {
    left: 200px;
    top: 570px;
}

#but3 {
    top: 470px;
    left: 300px;
}

#but4 {
    top: 470px;
    left: 100px;
}


#speelveld {
    width: 500px;
    height: 330px;
    background-color: red;
    display: inline-block;
    background-image: url(achtergrond.jpg);
    background-size:cover;
}

#witblo{
    top: 250px;
    left: 400px;
    position: absolute;
    font-size: 50px;
    width: 60px;
    height: 60px;
}


body {
    padding: 30px;
    background-size: cover;

    background-color: green;
    color: #444;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;

}

#area{
    border: 2px solid gray;
    width: 500px;
    height: 400px;
    position: relative;
}

p {
    margin: 5px 0;
}
</style>
